In [12]:
import csv
import pandas as pd
from pathlib import Path

In [18]:
path_to_read = Path('..', 'data', 'employee_birthday.txt')
with open(path_to_read, 'r') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else:
            print(f'\t{row[0]} works in the {row[1]} department, and was born in {row[2]}.')
            line_count += 1
    print(f'Processed {line_count} lines.')

Column names are name, department, birthday month
	John Smith works in the Accounting department, and was born in November.
	Erica Meyers works in the IT department, and was born in March.
Processed 3 lines.

In [25]:
path_to_read = Path('..', 'data', 'employee_birthday.txt')
with open(path_to_read, 'r') as csv_file:
    csv_reader = csv.DictReader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else:
            print(f'\t{row["name"]} works in the {row["department"]} department, and was born in {row["birthday month"]}.')
            line_count += 1
    print(f'Processed {line_count} lines.')

Column names are name, department, birthday month
	Erica Meyers works in the IT department, and was born in March.
Processed 2 lines.

In [36]:
path_to_read = Path('..', 'data', 'employee_addresses.txt')
with open(path_to_read, 'r') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',', quotechar='"', escapechar='\\')
    for row in csv_reader:
        print(row)

['name', 'address', 'date joined']
['john smith', '1132 Anywhere Lane Hoboken NJ, 07030', 'Jan 4']
['erica meyers', '1234 Smith Lane Hoboken NJ, 07030', 'March 2']

In [51]:
path_to_write = Path('..', 'data', 'employee_file.csv')
with open(path_to_write, mode='w') as employee_file:
    employee_writer = csv.writer(employee_file,
                                 delimiter=',',
                                 quotechar='"',
                                 quoting=csv.QUOTE_ALL,
                                 lineterminator='\n')
    
    employee_writer.writerow(['John Smith', 'Accounting', 'November'])
    employee_writer.writerow(['Erica Meyers', 'IT', 'March'])

In [52]:
with open(path_to_write, mode='r') as employee_file:
    employee_reader = csv.reader(employee_file, delimiter=',', quotechar='"')
    for row in employee_reader:
        print(row)

['John Smith', 'Accounting', 'November']
['Erica Meyers', 'IT', 'March']

## pandas

In [8]:
import pandas as pd
df = pd.read_csv('../data/hrdata.csv', index_col='Name', parse_dates=['Hire Date'])
df

                Hire Date   Salary  Sick Days remaining
Name
Graham Chapman 2014-03-15  50000.0                   10
John Cleese    2015-06-01  65000.0                    8
Eric Idle      2014-05-12  45000.0                   10
Terry Jones    2013-11-01  70000.0                    3
Terry Gilliam  2014-08-12  48000.0                    7
Michael Palin  2013-05-23  66000.0                    8